body{
    color: #f8f8f8
}
body{
    background-color:azure;
}

.list li{
    font-style: italic;
    list-style-type: none;
    color: blueviolet;
    font-size: 1.2em;
  
}
h1, h3,h5 {
    color: black;
    background: #eaeaea;
    
}
h1, h3 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
h5{
    font-size: 13px;
    font-weight: 100;
    
}
.short{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.long{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.long li{
    font-family: sans-serif;
    list-style-image: url(../img/zaya.jpg);
    list-style-position:inside;
    

}
.long:first-letter{
  font-size: 30px;
    color: blueviolet

}
p{
    color: #707070;
}
b{
    color: #707070;
}
select{
    height: 20px;
    width: 400px;
    background-color: aquamarine;
    color: blue;
    font-size: 1.3 em;
}

input[type="text"]{
    color: blue;  
    background-color: aquamarine;
    font-size: 1em;
    height: 20px;
    width: 400px;
}
input[type="password"]{
    color: blue; 
    background-color: aquamarine;
    height: 20px;
    width: 400px;
}
textarea{
    color: blue;  
    background-color: aquamarine;
    font-size: 1.5em;
    height: 20px;
    width: 400px;
}
.photo {
    text-align: center;
   padding: 20px; /* Поля вокруг изображения */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    outline: 1px solid #666; /* Параметры рамки */
    background: #f0f0f0; /* Цвет фона */
   
   
}


.list li a:hover{
    color: chartreuse;
}

.list li a:active{
    color: brown;
}
lable{
    color: darkolivegreen;
}

//
input [type="text"]:enabled{
    
    background-color: antiquewhite;
    color: brown;
}
//
.form:first-letter{
    color: aqua;
    font-size:  20px;
    
}
table{
    color:cornflowerblue;
}
.table{
    border: 1px;
    width: 500px;
    height: 300px;
    
}
.table td{
    border: 1px solid blue;
}